body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 56px;
  background-color: #ffffff;
}

.header-nav-link {
  box-sizing: border-box;
  width: 239px;
  margin: 0px auto;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
}

.header-nav-link:hover,
.header-nav-link:focus{
  color: #81b3d2;
}

.header-nav-link:active {
  color: #000000;
  opacity: 0.3;
}

.nav-menu-active {
  color: #766357;
}

.nav-menu-left {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 478px;
  padding: 14px 0px;
}

.nav-menu-left a {
  text-align: left;
  padding-left: 73px;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  width: 244px;
}

.nav-menu-right {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 478px;
  padding: 14px 0px;
}

.nav-menu-right a {
  text-align: right;
  padding-right: 74px;
}

.header-logo {
  z-index: 2;
}

.intro {
  position: relative;
  min-height: 508px;
  background: #d69c91 url("../img/content-img/background_photo.jpg") no-repeat 0% 29%;
  display: flex;flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.intro::after {
  content: "";
  position: absolute;
  width: 1200px;
  height: 59px;
  left: 0px;
  bottom: -2px;
  background-image: url("../img/svg/intro-mask.svg");
}

.main-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.main-features b {
  margin-top: 60px;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.main-features span {
  margin: 0 auto;
  margin-top: 26px;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;

  list-style: none;
  width: 1200px;
  margin: 0;
  margin-top: 50px;
  padding: 0;

}

.features-item {
  min-width: 400px;
  min-height: 256px;
  background-color: #eeeeee;
}

.features-item-wrapper {
  width: 400px;
}

.features-item h3 {
  margin: 0;
  margin-top: 47px;
  color: #333333;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.features-item p {
  width: 400px;
  margin: 0 auto;
  margin-top: 23px;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.feature-pic {
  display: flex;
  background-color: #81b3d2;
}

.feature-pic h3 {
  color: #ffffff;
}

.feature-pic p {
  color: #ffffff;
}

.more-features-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.more-features-item {
  min-width: 400px;
  min-height: 330px;
}

.more-features-item:nth-child(1) {
  background: url("../img/svg/icon-1.svg") no-repeat 50% 23%;
}

.more-features-item:nth-child(2) {
  background: url("../img/svg/icon-2.svg") no-repeat 50% 23%;
}

.more-features-item:nth-child(3) {
  background: url("../img/svg/icon-3.svg") no-repeat 50% 23%;
}

.more-features-item h3 {
  margin: 0;
  margin-top: 160px;
  color: #333333;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.more-features-item p {
  width: 400px;
  margin: 0 auto;
  margin-top: 23px;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 886px;
  background: #ffffff url(../img/content-img/map.jpg) no-repeat 100% 100%;
}

.booking b {
  margin: 0 auto;
  margin-top: 50px;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.booking p {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 45px;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.hotel-search-btn {
  width: 568px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.hotel-search-btn:hover,
.hotel-search-btn:focus {
  background-color: #604e43;
}

.hotel-search-btn:active {
  background-color: #503e33;
  color: #847870;
}

.modal {
  z-index: 10;
}

.modal-booking {
  display: none;
  box-sizing: border-box;
  width: 568px;
  min-height: 395px;
  margin-bottom: 77px;
  padding: 55px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.modal-show {
  display: block;
}

.booking-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.booking-form label {
  margin-top: 9px;
  margin-bottom: 34px;
}

.input-check {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  box-sizing: border-box;
  width: 346px;
  height: 38px;
  padding-left: 12px;
  padding-right: 35px;
  background-color: #f2f2f2;
  background-image: url("../img/content-img/calendar.png");
  background-repeat: no-repeat;
  background-position: 97% 40%;
  border: none;
}

.input-check:hover {
  background-color: #ebebeb;
  background-image: url("../img/content-img/calendar-hover.png");
  background-repeat: no-repeat;
  background-position: 97% 40%;
}

.input-check:focus {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  background-image: url("../img/content-img/calendar-focus.png");
  background-repeat: no-repeat;
  background-position: 97% 40%;
  outline: none;
}

.input-number {
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #f2f2f2;
  border: none;
}

.input-number:hover {
  background-color: #ebebeb;
}

.input-number:focus {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  outline: none;
}

.guest-amount-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 23px;
}

.adults-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.children-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.label-adults {
  margin-right: 41px;
}

.label-children {
  margin-right: 28px;
}

.number-btn {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
  color: #a9a9a9;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  cursor: pointer;
}

.number-btn:hover,
.number-btn:focus {
  color: #000000;
  outline: none;
}

.number-btn:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.input-number {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.booking-submit-btn {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  border: none;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  cursor: pointer;
}

.booking-submit-btn:hover,
.booking-submit-btn:focus {
  background-color: #669ec0;
  outline: none;
}

.booking-submit-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

::-webkit-input-placeholder {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
::-moz-placeholder {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
:-ms-input-placeholder {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
:-moz-placeholder {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.footer-index {
  margin-top: -120px;
}

.footer-menu {
  min-height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  opacity: 0.9
}

.hashtag {
  min-width: 400px;
  margin: 0 auto;
  padding: 0;
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.social-list {
  min-width: 400px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-item:hover,
.social-item:focus {
  background-color: #669ec0;
}

.social-item:active .social-icon {
  opacity: 0.3;
}

.social-item:not(:last-child) {
  margin-right: 5px;
}

.copyright {
  min-width: 400px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.copyright p {
  margin-right: 8px;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}

.copyright-icon:hover path,
.copyright-icon:focus path {
  fill: #81b3d2;
}

.copyright-icon:active path {
  fill: #bdbbbc;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  min-height: 217px;
  padding: 27px 70px;
  background: #5f666c url("../img/content-img/filter_background.jpg") 0% 45%;
}

.filter fieldset {
  padding: 0;
  border: none;
}

.filter-checkbox {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 400px;
}

.checkbox-title {
  margin-bottom: 25px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}

.price-title {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}

.filter-facilities {
  margin-right: 118px;
}

.facilities-list {
  list-style: none;
  margin: 0;
  margin-left: 36px;
  padding: 0;
}

.facilities-item {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

.facilities-item:not(:last-of-type) {
  margin-bottom: 25px;
}

.facilities-checkbox {
  position: relative;
}

.accomodation-list {
  list-style: none;
  margin: 0;
  margin-left: 38px;
  padding: 0;
}

.accomodation-item {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

.accomodation-item:not(:last-of-type) {
  margin-bottom: 25px;
}

.accomodation-checkbox {
  position: relative;
}

input[type="checkbox"] + .checkbox-indicator::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -38px;
  width: 27px;
  height: 23px;
  background: url("../img/svg/checkbox-off.svg") no-repeat 0 0;
}

input[type="checkbox"]:disabled + .checkbox-indicator::before,
input[type="checkbox"]:disabled + .checkbox-indicator::after {
  opacity: 0.1;
}

input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -38px;
  width: 27px;
  height: 23px;
  background: url("../img/svg/checkbox-on.svg") no-repeat 0 0;
}

.price {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

.price-controls {
  position: relative;
  width: 315px;
  height: 32px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
  margin-bottom: 19px;
}

.price-controls::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  top: 50%;
  left: 50%;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  cursor: pointer;
  padding-left: 65px;
  padding-top: 5px;
  padding-right: 10px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 33px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus {
  border: 9px solid #ffffff;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 79%;
}

.filter-submit-btn {
  display: block;
  width: 136px;
  border: 2px solid #ffffff;
  margin: 0 auto;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.filter-submit-btn:hover,
 .filter-submit-btn:focus {
  background-color: #ffffff;
  color: #000000;
}

.hotels {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
}

.hotels-sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding:30px 70px;
  border-bottom: 1px solid #e5e5e5;
}

.sort-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.sort-wrap p {
  margin: 0;
  margin-right: 50px;
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.sort-title {
  margin: 0;
  margin-top: 6px;
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  margin-left: 40px;
}

.sort-btn-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  margin-right: 2px;
}

.sort-item {
  margin-right: 33px;
}

.sort-item-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border-bottom: 1px dashed #81b3d2;
}

.sort-item-link:hover,
.sort-item-link:focus {
  color: #81b3d2;

}

.sort-item-link:active {
  color: #000000;
  border-bottom: none;
}

.sort-btn:last-of-type {
  margin-left: 12px;
}

.active {
  color: #81b3d2;
  opacity: 1.0;
  border-bottom: none;
}

.sort-btn svg {
  fill: #cacaca;
}

.sort-btn:hover svg,
.sort-btn:focus svg {
  fill: #000000;
}

.sort-btn:active svg {
  fill: #81b3d2;
}

.btn-active svg {
  fill: #81b3d2;
}

.hotels-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.hotels-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 30px 72px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: -2px;
}

.hotels-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.hotels-image {
  margin-right: 30px;
}

.hotels-desc {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  margin-top: -4px;
}

.hotels-title {
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  cursor: pointer;
}

.hotels-title:hover,
.hotels-title:focus {
  color: #81b3d2;
}

.hotels-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.more-wrapper {
  margin-right: 5px;
}

.hotels-desc p {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

.hotels-more {
  display: inline-block;
  vertical-align: middle;
  width: 110px;
  padding-top: 4px;
  padding-bottom: 3px;
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.hotels-more:hover,
.hotels-more:focus {
  background-color: #669ec0;
}

.hotels-more:active {
  background-color: #669ec0;
  color: rgba(255, 255, 255, 0.3);
}

.hotels-book {
  display: inline-block;
  vertical-align: middle;
  width: 142px;
  padding-top: 4px;
  padding-bottom: 3px;
  background-color: #766357;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.hotels-book:hover,
.hotels-book:focus {
  background-color: #604e43;
}

.hotels-book:active {
  background-color: #604e43;
  color: rgba(255, 255, 255, 0.3);
}

.hotels-rating {
  display: flex;
  flex-direction: column;
  margin-right: -2px;
}

.stars-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.stars-item:not(:last-of-type) {
  margin-right: 6px;
}

.rating-value {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: 4px;
  padding-bottom: 3px;
  padding-left: 6px;
  width: 110px;
  background-color: #f2f2f2;
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
