body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  background-color: lightblue;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  background-color: #ffffff;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 56px;
}

.header-nav-link {
  box-sizing: border-box;
  margin: 0px 47px;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.nav-menu-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 478px;
  padding: 14px 20px;
}

.nav-menu-left a:nth-child(2n) {
  margin-left: 101px;
}

.nav-menu-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 478px;
  padding: 14px 20px;
}

.nav-menu-right a:nth-child(2n+1) {
  margin-right: 118px;
}

.header-logo {
  z-index: 2;
}

.intro {
  position: relative;
  min-height: 508px;
  background: #d69c91 url("../img/content-img/background_photo.jpg") no-repeat 0% 29%;
  display: flex;flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.intro::after {
  content: "";
  position: absolute;
  width: 1200px;
  height: 59px;
  left: 0px;
  bottom: -2px;
  background-image: url("../img/svg/intro-mask.svg");
}

.main-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.main-features b {
  margin-top: 60px;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.main-features span {
  margin: 0 auto;
  margin-top: 26px;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;

  list-style: none;
  width: 1200px;
  margin: 0;
  margin-top: 50px;
  padding: 0;

}

.features-item {
  min-width: 400px;
  min-height: 256px;
  background-color: #eeeeee;
}

.features-item-wrapper {
  width: 400px;
}

.features-item h3 {
  margin: 0;
  margin-top: 47px;
  color: #333333;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.features-item p {
  width: 400px;
  margin: 0 auto;
  margin-top: 23px;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.feature-pic {
  display: flex;
  background-color: #81b3d2;
}

.feature-pic h3 {
  color: #ffffff;
}

.feature-pic p {
  color: #ffffff;
}

.more-features-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.more-features-item {
  min-width: 400px;
  min-height: 330px;
}

.more-features-item:nth-child(1) {
  background: url("../img/svg/icon-1.svg") no-repeat 50% 23%;
}

.more-features-item:nth-child(2) {
  background: url("../img/svg/icon-2.svg") no-repeat 50% 23%;
}

.more-features-item:nth-child(3) {
  background: url("../img/svg/icon-3.svg") no-repeat 50% 23%;
}

.more-features-item h3 {
  margin: 0;
  margin-top: 160px;
  color: #333333;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.more-features-item p {
  width: 400px;
  margin: 0 auto;
  margin-top: 23px;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.booking b {
  margin: 0 auto;
  margin-top: 50px;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.booking p {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 45px;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.hotel-search-btn {
  width: 568px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
}

.modal {
  z-index: 10;
}

.modal-booking {
  box-sizing: border-box;
  width: 568px;
  min-height: 395px;
  margin-bottom: 77px;
  padding: 55px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.booking-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.booking-form label {
  margin-top: 9px;
  margin-bottom: 34px;
}

.input-check {
  position: relative;
  box-sizing: border-box;
  width: 346px;
  height: 38px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #f2f2f2;
  border: none;
}

.input-check::after {
  position: absolute;
  content: "";
  width: 21px;
  height: 22px;
  top: 8px;
  right: -15px;
  background: url("../img/svg/calendar.svg") no-repeat 0 0;
}

.input-number {
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #f2f2f2;
  border: none;
}

.guest-amount-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 23px;
}

.adults-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.children-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.label-adults {
  margin-right: 41px;
}

.label-children {
  margin-right: 28px;
}

.number-btn {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
  color: #a9a9a9;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
}

.input-number {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.booking-submit-btn {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  border: none;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

::-webkit-input-placeholder {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
::-moz-placeholder {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
:-ms-input-placeholder {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
:-moz-placeholder {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.footer-menu {
  min-height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  opacity: 0.9;
}

.hashtag {
  min-width: 400px;
  margin: 0 auto;
  padding: 0;
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.social-list {
  min-width: 400px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-item:not(:last-child) {
  margin-right: 5px;
}

.copyright {
  min-width: 400px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.copyright p {
  margin-right: 8px;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  min-height: 217px;
  background: #5f666c url("../img/content-img/filter_background.jpg") 0% 45%;
}

.filter fieldset {
  padding: 0;
  border: none;
}

.filter-checkbox {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 400px;
}

.filter-title {
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}

.facilities-list {
  list-style: none;
  margin: 0;
  margin-left: 10px;
  padding: 0;
}

.facilities-item {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

.facilities-checkbox {
  position: relative;
}

.checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 27px;
  height: 23px;
  background-image: url("../img/svg/checkbox-off.svg");
}
